name: Program Code Convention Check

on:
  push:
    paths:
      - "**/*.cs"
  pull_request:

jobs:
  code-style-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Install dotnet-format
        run: dotnet tool install -g dotnet-format

      - name: Run code style check
        run: dotnet-format --verify-no-changes ProgramCode.cs
